@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

$susy: (columns: 12, gutter: 1 / 4, math: fluid, global-box-sizing: border-box);

@include border-box-sizing;

// Partials
@import "partials/variables";

#root {
    background-color: $black_0;
}

.portfolioApp {
    @include container(1140px);
    @include clearfix;

    color: $black_0;
    text-align: center;

    > div {
        clear: both;
    }

    .portfolioContentWrapper {
        width: inherit;
        height: inherit;

        .app_content {
            width: inherit;
            padding-top: 71px;
        }
    }
}

@import "partials/navbar";

.introduction {
    @include container;
    @include clearfix;

    background-color: $black_6;
    width: 100%;
    height: 400px;

    // Hotspot: height here can be adjusted based on screen size

    > div {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h4 {
        font-size: 1.3em;
    }

    p {
        font-size: 1.1em;
    }

    li {
        font-size: 1.2em;
    }

    .description {
        @include span(7 of 12 first);
        @include display-flex;

        height: 100%;
        justify-content: center;

        .description_content_wrapper {
            align-self: center;
            width: span(full);
            text-align: left;

            > * {
                margin-left: span(2 wider of 12);
            }
        }
    }

    .cardProfile {
        @include span(5 of 12 last);

        background-color: $black_8;
        height: 100%;
        border-radius: 50%;

        .card_profile_content_wrapper {
            width: 100%;

            .profile_image_wrapper {
                @include display-flex;

                justify-content: center;
                width: 90%;
                height: 100%;
                background-color: white;
                margin: 0 auto;
                overflow: hidden;
                border-radius: 50%;

                .profile_image {
                    align-self: center;
                    width: 350px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.experience {
    @include container(12);
    @include clearfix;

    background-color: white;

    .card {
        @include span(full);
        @include clearfix;

        background-color: white;
        color: black;
        margin-bottom: 20px;
        clear: both;
        position: relative;
        padding-top: 20px;
        border-top: 2px solid #ccc;

        &:first-child {
            border-top: none;
        }

        div.image_slider_wrapper {
            @include span(7 of 12 first no-gutters);

            // Need to confirm that this works on phone
            @include breakpoint(max-width 800px) {
                @include span(full);

                margin-bottom: 20px;
            }


            div.image_slider {
                color: #333;
                background-color: #ccc;
                margin: 0 auto;
                width: span(10 of 12);
                height: 400px;

                .slick-initialized.slick-slider {
                    height: 100%;
                    width: 100%;

                    .slide_block {
                        height: 100%;
                        width: 100%;
                    }
                }

                // Current Viewing Block
                .slick-slide.slick-active {
                    @include display-flex;

                    justify-content: center;
                    background-color: #ccc;

                    .slick_image {
                        margin: 0 auto;
                        max-width: 100%;
                        align-self: center;
                    }
                }

                button.slick-arrow.slick-prev:before,
                button.slick-arrow.slick-next:before {
                    color: blue;
                    font-size: 20px;
                }

                ul.experience_image_slider_dot_bar {
                    display: none;
                }
            }

            .single_image_wrapper {
                @extend div.image_slider;
            }
        }

        .description {
            @include span(5 of 12 last);

            ul.responsibilityList {
                list-style: none;
                text-align: left;

                li.responsibility {
                    font-size: 1.2em;
                }
            }

            .languages_wrapper {
                text-align: left;
            }

            // Possible Extendsion
            .team_wrapper {}

            @include breakpoint(max-width 800px) {
                @include span(full);

                ul.responsibilityList,
                .languages_wrapper {
                    margin-left: span(4 wider of 12);

                    // Smaller Screen size: Phone/ Tablet
                    @include breakpoint(max-width 800px) {
                        margin-left: span(3 of 12);
                    }
                }
            }
        }

        .description.full {
            width: span(full);
            float: none;
            margin: 0 auto;

            ul.responsibilityList,
            .languages_wrapper {
                margin-left: span(4 wider of 12);

                // Smaller Screen size: Phone/ Tablet
                @include breakpoint(max-width 800px) {
                    margin-left: span(3 of 12);
                }
            }

            ul.responsibilityList {
                width: span(6 of 12);
                list-style: none;
                text-align: left;
            }

            .languages_wrapper {
                width: span(6 of 12);
                text-align: left;
            }

            // Possible Extendsion
            .team_wrapper {}
        }
    }
}

.education {
    background-color: $black_6;
    width: span(full);

    > div {
        clear: both;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .educationCard {}

    .educationPerformance {
        .educationProgressbar {
            width: span(3 of 12);
            max-height: 300px;
            margin: 20px;
            display: inline-block;

            .progressbar-text {
                line-height: 1.5em;
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}

.skill {
    background-color: $black_7;
    color: white;
    width: span(full);

    > h2 {
        padding-top: 20px;
    }

    .barChartView {
        padding-bottom: 40px;

        .recharts-responsive-container {
            margin: 0 auto;

            .recharts-layer.recharts-y-axis {
                color: white;
            }

            .recharts-layer.recharts-x-axis {}
        }
    }
}

.contact {
    background-color: $black_7;
    width: span(full);

    .loadResume {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .socialMediaList {
        margin: 0 auto;
        list-style-type: none;
        margin-bottom: 10px;

        .socialMediaItem {
            display: inline-block;

            a {
                color: white;
                text-decoration: none;
                margin-right: 10px;
            }
        }
    }
}