@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

$susy: (columns: 12, gutter: 1 / 4, math: fluid, global-box-sizing: border-box);

@include border-box-sizing;

// Partials
@import "partials/variables";

#root {
    background-color: $black_0;
}

.portfolioApp {
    @include container;
    @include clearfix;

    color: $black_0;
    text-align: center;

    > div {
        clear: both;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.introduction {
    @include container;
    @include clearfix;

    background-color: $black_6;

    .description {
        @include span(8 of 12 first);
    }

    .cardProfile {
        @include span(4 of 12 last);

        background-color: $black_8;
    }
}

.experience {
    @include container;
    @include clearfix;

    background-color: $black_3;

    .experienceTimeLine {
        .timeLineEvent {

        }
    }

    .card {
        background-color: white;
        color: black;

        div#image_slider {
            margin: 0 auto;
            width: span(8 of 12);
            color: #333;
            background: #419be0;
            height: 300px;
            max-height: 450px;

            button.slick-arrow.slick-prev:before, 
            button.slick-arrow.slick-next:before {
                color: blue;
            }

            .slick-dots {
                > li {
                    &.slick-active {

                        button:before {
                            color: blue;
                        }
                    }
                }
            }
        }

        .ui.divider {
            margin-top: 30px;
        }

        .responsibilities {
            > p {
                font-size: 15px;
            }
        }
    }
}

.education {
    @include span(full);
    @include clearfix;

    background-color: $black_6;

    > div {
        clear: both;
    }

    .educationCard {}

    .educationPerformance {
        .educationProgressbar {
            width: span(3 of 12);
            max-height: 300px;
            margin: 20px;
            display: inline-block;

            .progressbar-text {
                line-height: 1.5em;
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}

.skill {
    @include container;
    @include clearfix;

    background-color: $black_7;
    color: white;

    .barChartView {
        .recharts-responsive-container {
            margin: 0 auto;

            .recharts-layer.recharts-y-axis {
                color: white;
            }

            .recharts-layer.recharts-x-axis {}
        }
    }
}

.contact {
    @include container;
    @include clearfix;

    background-color: $black_7;

    .loadResume {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .socialMediaList {
        margin: 0 auto;
        list-style-type: none;
        margin-bottom: 10px;

        .socialMediaItem {
            a {
                color: white;
                text-decoration: none;
            }

            @include breakpoint(900px) {
                // mobile
                display: inline-block;
            }
        }
    }
}