@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

$susy: (columns: 12, gutter: 1 / 4, math: fluid, global-box-sizing: border-box);

@include border-box-sizing;

// Partials
@import "partials/variables";

#root {
    background-color: $black_0;
}

.portfolioApp {
    @include container;
    @include clearfix;

    color: $black_0;
    text-align: center;
}

.introduction {
    @include container;
    @include clearfix;

    background-color: $black_6;

    .description {
        @include span(8 of 12 first);
    }

    .cardProfile {
        @include span(4 of 12 last);

        background-color: $black_8;
    }
}

.experience {
    @include container;
    @include clearfix;

    background-color: $black_3;

    .card {
        background-color: white;
        color: black;

        div#image_slider {
            margin: 0 auto;
            width: span(full);
            color: #333;
            background: #419be0;
            max-height: 300px;

            // .slick-prev, .slick-next {
            //     font-size: 30px;
            // }

            // .slick-prev {
            //     // Prev arrow 
            // }

            // .slick-next {
            //     // Next arrow
            // }

            // .slick-dots {
            // Dots under images
            // }
       
        }

        .responsibilities {
            > p {
                font-size: 15px;
            }
        }
    }
}

.education {
    @include container;
    @include clearfix;

    background-color: $black_6;
}

.skill {
    @include container;
    @include clearfix;

    background-color: $black_7;
    color: white;

    .barChartView {

        .recharts-responsive-container {
            margin: 0 auto;
            .recharts-layer.recharts-y-axis {
                color: white;
            }

            .recharts-layer.recharts-x-axis {

            }
        }
    }
}

.contact {
    @include container;
    @include clearfix;

    background-color: $black_7;

    .loadResume {
        margin: 0 auto;
    }

    .socialMediaList {
        margin: 0 auto;
        list-style-type: none;

        .socialMediaItem {
            a {
                color: white;
                text-decoration: none;
            }

            @include breakpoint(900px) {
                // mobile
                display: inline-block;
            }
        }
    }
}