
.top_navbar {
	@include span(full);
	@include clearfix;
	position: fixed;
	z-index: 10;
	left: 0;

	.mobile {
		display: none;
	}

	@include breakpoint(max-width 600px) {
		.mobile {
			display: block;
		}

		.desktop {
			display: none;
		}
	}
}